@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:	"header"
							"portfolio-nav" 
							"portfolio-item"
							"site-nav";
	grid-gap: 1em;
}

h1 {
	grid-area: header;
	justify-self: center;
}

#portfolio-nav{
	grid-area: portfolio-nav;
	align-self: center;
}

#portfolio-item {
	grid-area: portfolio-item;
}

#site-nav {
	grid-area: site-nav;
}
img{
	max-width: 100%;
}

/*Typography*/
body {
	font-family: 'EB Garamond', serif;
	font-size: 2vw;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 4em;
	font-weight: normal;
	margin-top: 0.5em;
	margin-bottom: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
	text-align: center;
}

#site-nav li {
	display: inline-block;
	padding-right: 1em;
}
#portfolio-nav {
	font-size: 2em;
}
#portfolio-nav li{
	line-height: 1.83em;
}

#copyright {
	font-size: 0.5em;
	text-align: right;
}

/*Desktop */

@media (min-width: 800px){
	main {
	grid-template-columns: 1fr 3fr 0.1fr;
	grid-template-areas:	"header header"
							"portfolio-nav portfolio-item"
							"portfolio-nav site-nav";
}

h1 {
	justify-self: right;
}

body {
	font-size: 1vw;
}

}